In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-03-31 19:59:25,-9.8000,-139.0333,80.51,76,90,13.38
1,1,Varnavino,RU,2021-03-31 19:59:25,57.4035,45.0916,33.35,98,100,10.49
2,2,Dikson,RU,2021-03-31 19:59:25,73.5069,80.5464,-21.53,88,97,4.43
3,3,Hermanus,ZA,2021-03-31 19:59:26,-34.4187,19.2345,60.01,93,100,6.08
4,4,Barrow,US,2021-03-31 19:59:26,71.2906,-156.7887,-9.40,64,1,21.85

In [8]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-03-31 19:59:25,-9.8000,-139.0333,80.51,76,90,13.38
8,8,Arraial Do Cabo,BR,2021-03-31 19:59:26,-22.9661,-42.0278,80.60,78,40,21.85
9,9,Marawi,PH,2021-03-31 19:59:27,7.9986,124.2928,77.00,90,69,4.00
10,10,Ramtek,IN,2021-03-31 19:59:27,21.4000,79.3333,84.20,24,2,4.61
17,17,Sao Goncalo Do Amarante,BR,2021-03-31 19:59:28,-3.6072,-38.9683,80.01,81,99,11.99
20,20,Hilo,US,2021-03-31 19:57:43,19.7297,-155.0900,75.00,75,75,4.61
22,22,Rikitea,PF,2021-03-31 19:59:30,-23.1203,-134.9692,79.25,71,59,18.21
27,27,Soyo,AO,2021-03-31 19:59:30,-6.1349,12.3689,78.39,85,100,6.24
36,36,Victoria,HK,2021-03-31 19:57:57,22.2855,114.1577,78.01,85,100,1.01
39,39,Vaini,TO,2021-03-31 19:59:33,-21.2000,-175.2000,78.80,94,75,6.91

In [17]:
preferred_cities_df.count()

City_ID       214
City          214
Country       213
Date          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
0                    Atuona      PF     80.51  -9.8000 -139.0333
8           Arraial Do Cabo      BR     80.60 -22.9661  -42.0278
9                    Marawi      PH     77.00   7.9986  124.2928
10                   Ramtek      IN     84.20  21.4000   79.3333
17  Sao Goncalo Do Amarante      BR     80.01  -3.6072  -38.9683
20                     Hilo      US     75.00  19.7297 -155.0900
22                  Rikitea      PF     79.25 -23.1203 -134.9692
27                     Soyo      AO     78.39  -6.1349   12.3689
36                 Victoria      HK     78.01  22.2855  114.1577
39                    Vaini      TO     78.80 -21.2000 -175.2000

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,80.51,-9.8000,-139.0333,Villa Enata
8,Arraial Do Cabo,BR,80.60,-22.9661,-42.0278,Pousada Porto Praia
9,Marawi,PH,77.00,7.9986,124.2928,Derogongan Residence
10,Ramtek,IN,84.20,21.4000,79.3333,Kaveri Girls Hostel
17,Sao Goncalo Do Amarante,BR,80.01,-3.6072,-38.9683,Pousada bem Estar
20,Hilo,US,75.00,19.7297,-155.0900,Hilo Hawaiian Hotel
22,Rikitea,PF,79.25,-23.1203,-134.9692,Pension Maro'i
27,Soyo,AO,78.39,-6.1349,12.3689,Hotel Mpampa
36,Victoria,HK,78.01,22.2855,114.1577,Mini Hotel Central
39,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))